/*HOME PAGE*/

* {
	box-sizing: border-box;
}

body {
	margin:0;
	padding: 0;
    color: #404041;
}

header {
	background: #fff;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 4;
	box-shadow: 0 0 42px 0 rgba(99, 99, 99, 0.08);
    -moz-box-shadow: 0 0 42px 0 rgba(99, 99, 99, 0.08);
    -webkit-box-shadow: 0 0 42px 0 rgba(99, 99, 99, 0.08);'
    -o-box-shadow: 0 0 42px 0 rgba(99, 99, 99, 0.08);
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
    width: 80%;
    align-items: baseline;
}

h1#logo_name {
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}

#logo_name a{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	text-decoration:none;
	font-weight: 400;
    color: #404041;
}

#logo_name a:hover{
	opacity: 0.8;
	transition: 0.3s ease-in;
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.menu-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.menu a {
    padding: 20px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Lato', sans-serif;
}

.menu a:hover, .menu a:focus {
    color: #f1f1f1;
}

.menu .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.container span {
    font-size: 30px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    text-transform: lowercase;
}

i.fa.fa-bars {
    padding-right: 10px;
    font-size: 25px;
}

#cover {
	background: url('img/cover.jpg') no-repeat;
	background-size: cover;
    background-position: top center;
    z-index: 0;
    width: 100%;
    height: 735px;
}

.content {
    margin: 0 auto;
    width: 100%;
}

.content img {
    z-index: 2;
    margin-top: 195px;
    margin-left: 500px;
    width: 30%;
}

.wrapper {
   display: flex;
   flex-flow: row wrap;
   height: 400px;	
}

.main {
	flex-shrink: 1;
	text-align: left;
    background: #970e13;
    color: white;
    font-size: 50px;
    width: 50%;
    padding-left: 9%;
    padding-top: 7%;
}

span.red_txt {
    color: #970e13;
}


p {
	font-family: 'Lato',sans-serif;
	font-size: 20px;
    color: #404041;

}

h3 {
	font-family: 'Oswald',sans-serif;
	margin: 0;
}

h5 {
	font-family: 'Lato',sans-serif;
	font-size: 30px;
	margin: 0;
}

.aside-right {
	flex-shrink: 1;
	font-family: 'Lato',sans-serif;
    color: black;
    font-size: 22px;
    text-align: left;
    width: 50%;
    padding-top: 6%;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 2;
    background: white;
}

#projects{
    padding: 0;
    margin: 0;
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
 
.project_item {
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    position: relative;
}

.project_item img {
    margin: 0;
    width: 100%;
    height: auto;
    position:relative;
	overflow:hidden;
}

.overlay {
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    text-align: center;
    margin: 0;
    padding: 0;
}

.overlay:hover {
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.overlay:hover.overlay_txt {
    margin-top: 20%;
    transition: all 0.4s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
    
h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color: #fff;
    margin-top: 10%;
}

.overlay p {
	color: #fff;
    padding-bottom: 25px;
}

a.link {
    color: #fff;
    font-size: 20px;
    font-family: Lato;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 15px;
}

a.link:hover {
    border: 1px solid #970e13;
    background-color: #970e13;
    transition: all 0.4s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

article{
    background: url(img/cover_2.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    z-index: 3;
    position: relative;
}

.txt {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 10%;
}

#social {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 200px;
	width: 100%;
	text-align:center;
	justify-content: space-around;
    align-items: stretch;
}

#social a {
	color: #fff;
	text-decoration: none;
	width: 25%;
	background:#970e13;
	transition: 0.4s ease-in;
	padding-top: 70px;
	font-size: 30px;
}

#social a:hover {
	background:#660004;
	
}

#social p{
	font-size: 25px;
	font-family: 'Oswald',sans-serif;
    color: #fff;

}

img#logo_small {
    width: 200px;
}

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 30px;
}

h6 {
    font-size: 28px;
    margin: 0;
    font-family: 'Oswald';
}

.contact p {
    font-size: 17px;
}

/*ABOUT PAGE*/

#cover_about {
    background: url('img/cover_about.jpg') no-repeat;
    background-size: cover;
    background-position: top center;
    z-index: 0;
    width: 100%;
    height: 510px;
    margin-top: 50px;
}

.content_about {
    padding-top: 90px;
    padding-left: 160px;
}

.title_about {
    font-family: 'Oswald',sans-serif;
    margin: 0;
    font-size: 50px;
}


article.part-1 {
    background: #fff;
}

.part-1 p {
    width: 50%;
    padding: 50px 0px 50px 150px;
    font-size: 20px;
}

.middle {
    display: flex;
    flex-wrap: row wrap;
    width: 100%;
    background: #e1e1e1;
}

.middle_txt {
    width: 40%;
    padding: 2.5% 0;
    margin: 0 auto;
    height: 200px;
}

.middle_txt h5 {
    font-family: 'Oswald',sans-serif;
    font-size: 30px;
    margin: 0;
    text-align: center;
    font-weight: 500;

}

span.subtitle {
    font-size: 30px;
    font-family: 'Oswald',sans-serif;
    color: #970e13;
    font-weight: 600;
}

/*SKILLS PAGE*/


#cover_skills {
    background: url('img/cover_skills.jpg') no-repeat;
    background-size: cover;
    background-position: top center;
    z-index: 0;
    width: 100%;
    height: 510px;
    margin-top: 50px;
}

.content_skills {
    padding-top: 310px;
    padding-left: 160px;
}

.title_skills {
    font-family: 'Oswald',sans-serif;
    margin: 0;
    font-size: 50px;
}

.featured {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
}

.featured_items {
    width: 30%;
    padding: 60px 65px;
    text-align: center;
    border: 1px solid #eee;
    margin: ;
    flex-grow: 1;
}
 
.item-img img {
    width: 30%;
}

.item-head {
    font-size: 25px;
    font-family: 'Oswald',sans-serif;
    color: #a81717;
    padding-top: 8px;
}

.item-txt {
    font-size: 17px;
    line-height: 1.4;
    font-family: 'Lato',sans-serif;
}

/*CONTACT PAGE*/

#cover_contact {
    background: url('img/cover_contact.jpg') no-repeat;
    background-size: cover;
    background-position: top center;
    z-index: 0;
    width: 100%;
    height: 510px;
    margin-top: 50px;
}

.content_contact {
    padding-top: 90px;
    padding-left: 160px;
}

.title_contact {
    font-family: 'Oswald',sans-serif;
    margin: 0;
    font-size: 50px;
}

.contact_part-1 p {
    width: 50%;
    padding: 60px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}


.contact_form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 50%;
    margin: 40px auto;
}

.form_row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px;
}

.form_group {
    display: flex;
    flex-flow: row;
    width: 49%;
    justify-content: space-between;
}

.form_group span {
    background: #fff;
    color: #ddd;

}

input.form-control {
    background: #fff;
    border:1px solid rgba(210, 209, 209, 0.65);
    min-height: 40px;
    box-shadow: 0 0 0;
    width: 100%;
    outline: none;
    padding: 15px;
}

textarea.form-control {
    background: #fff;
    border: 1px solid rgba(210, 209, 209, 0.65);
    min-height: 150px;
    box-shadow: 0 0 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    outline: none;
}

.submit_btn {
    display: block;
    width: 100%;
    text-align: center;
    max-width: 250px;
    margin: 24px auto;
    background-color: #970e13;
    color: #e7e7e7;
    outline: none;
    border: none;
    padding: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.submit_btn:hover {
    background-color: #660004;
}

.counter_box {
    margin-bottom: 20px;
}

i.fa.fa-map-o {
    font-size: 35px;
    color: #0099ff;
}

.counter_box h5 {
    margin: 0;
    padding: 10px 0;
}

.main_address {
    flex-shrink: 1;
    background: #e1e1e1;
    width: 50%;
}

.main_address p{
    text-align:center;
    font-size: 25px;
    margin: 0 auto;
    font-family: 'Oswald';
    padding: 10px;
    color:#8f8f8f;
}

i.fa.fa-phone, i.fa.fa-map-marker {
    text-align: center;
    font-size: 30px;
    color: #8f8f8f;
    display: block;
    padding-top: 40px;
}

.right, .left {
    flex-shrink: 1;
    width: 50%;
}

.address  {
    color: #585858;
    margin: 0;
    font-size: 15px;
}


/**PROJECTS**/

/**Vacabo**/

#cover_projects_vacabo {
    background: url('img/project_cover_1.jpg') no-repeat;
    background-size: cover;
    background-position: top center;
    z-index: 0;
    width: 100%;
    height: 510px;
    margin-top: 50px;
}

h4.project_title {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    padding: 0px 0px 0px 150px;
    color: #404041;
    margin: 80px 0 0 0;
}

.part-1 p .project_content {
    width: 50%;
    padding: 0px 0px 0px 150px;
    font-size: 20px;
}

.wrapper_half {
   display: flex;
   width: 100%;
}

.pic_1 img, .pic_2 img, .pic_4 img, .pic_5 img {
    flex-grow: 1;
    width: 100%;
}

.pic_3 img, .pic_6 img {
    width: 100%;
}
}

/**Swift**/

#cover_projects_swift{
    background: url('img/project_cover_3') no-repeat;
    background-size: cover;
    background-position: top center;
    z-index: 0;
    width: 100%;
    height: 510px;
    margin-top: 50px;
}


/**DIA**/

#cover_projects_dynamic {
    background: url('img/project_cover_3.jpg') no-repeat;
    background-size: cover;
    background-position: top center;
    z-index: 0;
    width: 100%;
    height: 510px;
    margin-top: 50px;
}

.picture_2 img, .picture_3 img {
    flex-grow: 1;
    width: 100%;
}
.picture_1 img, .picture_4 img, .picture_5 img, .picture_6 img, .picture_7 img {
    width: 100%;
}

article.part-2 {
    background: #e1e1e1;
}

.part-2 p {
    width: 50%;
    padding: 100px 0px ;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    }


@media screen and (max-width:1200px) {


}


@media screen and (max-width:450px) {

.container {
    width: 95%;
}

#logo_name a {
font-size: 26px;
}

.menu-content{
    margin-top: 0px;
}

.menu a {
    font-size: 23px;
}

 .menu .closebtn {
    font-size: 40px;
    top: 15px;
    right: 10px;
}

.container span {
    font-size: 27px;
}

i.fa.fa-bars {
    font-size: 23px;
}

#cover {
    height: auto;
}

.content img {
    margin-top: 75px;
    margin-left: 15%;
    width: 70%;
    padding-bottom: 110px;
}

.wrapper {
    height: auto;
}

.main{
    padding-bottom: 7%;
    width: 100%;
}

h5 {
    font-size: 17px;
}

h3 {
    font-size: 25px;
}

.aside-right {
    width: 100%;
    padding-top: 10% 5%;
}

p {
    font-size: 17px;
    padding: 0;
}

h4{
    font-size: 24px;
    margin-top: 6%;
    margin-bottom: 0;
}

.overlay p {
    font-size: 12px;
}

.txt {
    font-size: 17px;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    padding: 10% 5%;
    color: #404041;
}

#social {
    height: 11.5%;
}

#social a {
    padding-top: 9%;
}

#social p {
    display: none;
}



.contact {
    margin: 0 auto;
    width: 100%;
    align-items: flex-start;
    padding-bottom: 30px;
}

img#logo_small {
    width: 170px;
    margin: auto;
    margin-bottom: 30px;
}

.find_us{
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.talk {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

}